[Unit]
Description=LoRa Packet Forwarder (SX1302)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/lora-pkt-fwd -c /etc/sx1302-hal/global_conf.json
Restart=always
RestartSec=30
StandardOutput=journal
StandardError=journal
SyslogIdentifier=lora_pkt_fwd

[Install]
WantedBy=multi-user.target
