[Unit]
Description=LoRa Packet Forwarder (SX1302)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/etc/sx1302-hal
ExecStart=/usr/bin/lora_pkt_fwd -c /etc/sx1302-hal/global_conf.json
Restart=always
RestartSec=30
StandardOutput=journal
StandardError=journal
SyslogIdentifier=lora_pkt_fwd

[Install]
WantedBy=multi-user.target
