#!/bin/sh
set -e

. /usr/share/debconf/confmodule

db_input high sx1302-hal/enable-spi || true
db_go || true

db_input high sx1302-hal/enable-i2c || true
db_go || true

db_input high sx1302-hal/enable-gps || true
db_go || true

db_get sx1302-hal/enable-gps
if [ "$RET" = "true" ]; then
    db_input medium sx1302-hal/gps-device || true
    db_go || true
fi
